.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #555555 !important;
  }
  
  .Button:active {
    background-color: #555555 !important;
  }
  
  .Button:focus {
    background-color: #555555;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Grey,
  .GreyOutline:hover,
  .Green:hover {
    background-color: #555555;
    color: #ffffff;
  }
  
  .GreyOutline,
  .Grey:hover {
    background-color: #ffffff;
    color: #555555;
  }
  
  .Green {
    background-color: #55be6c;
    color: #ffffff;
  }