.Recipe {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
  }
  
  .Recipe figure,
  h5 {
    margin: 0 0;
  }
  
  .Profilename {
    color:#000000; 
  }

  .Label {
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 700;
  }
  
  .Heart {
    color: #f85032;
  }
  
  .Heart:hover {
    color: #555555;
  }
  
  .HeartOutline:hover {
    color: #f85032;
  }

  .Bookmark {
    color: #555555;
  }

  .Bookmark:hover {
    color: #555555;
  }

  .BookmarkOutline:hover {
    color: #555555;
  }